.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.cartContent > img{
    height: 120px;
    width: 100px;
    text-align: center;
    box-shadow: 0 0 10px #666;
    scale: 1.05;
    box-shadow: 0 0 10px #666;
    scale: 1.05;


}

.cartTotal {
    text-align: center;
}

.cart.message.center{
    text-align: center;
    margin-top: 40px;
    
}

.counter-button {
    cursor: pointer;
    font-weight: bold;
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;

}

.cart-delete-button{
    cursor: pointer;
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;

}


